.column {
    background-color: pink;
    display: block;
    float: left;
    height: 30vh;
    margin: 1px;
    padding: 5px;
    width: 100%;
}
.headings {
    text-align: center
}
@media screen and (min-width: 992px) {
    .column {
    display: inline-block;
    margin: 10px;
    background-color: black;
    width: 30%;
}
.mobile
{
    display: none;
}
}
@media screen and (max-width: 991px) {
    .column {
        margin-left: none;
        margin-right: none;
    }
    .desktop
{
    display: none;
}
}
/*Adding the 'screen and' at beginning of media queries. This allows assistive
technology to read code more easily.*/